.upper-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.left-infos {
  display: flex;
  flex-direction: column;
}
.left-infos .title {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  color: #ff6060;
}
.left-infos .location {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.tags {
  display: flex;
  gap: 10px;
  padding: 0;
}
.tags li {
  font-size: 14px;
  font-weight: 500;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
}
.right-infos {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.host-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.host-details img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}
.collapseCards {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 50px;
}

@media (width <= 912px) {
  .upper-infos {
    padding: 10px 50px;
  }
}

@media (width <= 527px) {
  .upper-infos {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-infos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media (width <= 393px) {
  .upper-infos {
    flex-direction: column;
    padding: 20px;
  }
  .left-infos {
    width: 100%;
  }
  .left-infos .title {
    font-size: 20px;
  }
  .left-infos .location {
    font-size: 14px;
  }
  .left-infos .tags {
    gap: 10px;
    height: 18px;
    align-items: center;
  }
  .left-infos .tags li {
    font-size: 10px;
    border-radius: 5px;
  }
  .right-infos {
    width: 100%;
    flex-direction: row-reverse;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
  }
  .host-name {
    font-size: 12px;
  }
  .host-details img {
    width: 32px;
    height: 32px;
  }
  .collapse-section.housing {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .collapse-unit-header {
    height: 30px;
  }
  .collapse-unit-header p {
    font-size: 13px;
  }
}
