.upper-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.left-infos {
  display: flex;
  flex-direction: column;
}
.left-infos .title {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  color: #ff6060;
}
.left-infos .location {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.tags {
  padding: 0;
}
.tags li {
  font-size: 14px;
  font-weight: 500;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
}
.right-infos {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.host-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.host-details img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}
.collapseCards {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 50px;
}
