.collapse-section {
  padding: 0 50px;
  height: 500px;
}
.collapse-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0;
  width: 100%;
}
.collapse-unit {
  cursor: pointer;
}
.collapse-unit-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  padding: 0 15px;
  border-radius: 5px;
}
.collapse-unit-header p {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: white;
}
.collapse-unit-header .icon {
  color: white;
}
.collapse-description {
  color: #ff6060;
  font-size: 18px;
}
.collapse-description li {
  font-size: 18px;
  font-weight: 400;
}
