.collapse-section.housing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  padding: 0 50px 50px 50px;
}
.collapse-section.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}
.collapse-container {
  padding: 0;
  width: 100%;
}
.collapse-unit {
  cursor: pointer;
}
.collapse-unit-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  padding: 0 15px;
  border-radius: 5px;
  width: 100%;
}
.collapse-unit-header p {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: white;
}
.collapse-unit-header .icon {
  color: white;
}
.collapse-description-container {
  padding: 20px;
  background: #f7f7f7;
}
.collapse-description {
  color: #ff6060;
  font-size: 18px;
}
.collapse-description li {
  font-size: 18px;
  font-weight: 400;
}

@media (width<=912px) {
  .collapse-section.about {
    width: 779px;
  }
  .collapse-section.housing {
    padding: 50px;
    width: 779px;
  }
}

@media (width <= 393px) {
  .collapse-description {
    font-size: 16px;
  }
  .collapse-section.about {
    padding: 20px;
    gap: 20px;
    width: 715px;
  }
  .collapse-section.housing {
    width: 715px;
  }
}
