.collapse-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0 200px;
}

.collapse-unit-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  padding: 0 15px;
  border-radius: 5px;
}
.collapse-unit-header p {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: white;
}
