.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.navLink.underline {
  text-decoration: underline;
  text-decoration-color: #ff6060;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 57px;
  margin: 0;
}
.navigation p {
  list-style: none;
  color: #ff6060;
  font-size: 24px;
}
.navigation p:hover {
  filter: drop-shadow(1px 1px rgba(224, 147, 147, 0.43));
}

@media (width <= 1000px) {
  .header {
    padding: 0 20px;
  }
  .header img {
    width: 200px;
  }
}

@media (width <= 527px) {
  .header {
    padding: 0 20px;
  }
  .header img {
    width: 150px;
  }
  .navigation {
    gap: 30px;
  }
  .navigation p {
    font-size: 20px;
  }
}

@media (width <= 393px) {
  .header {
    height: 160px;
    align-items: center;
    padding: 20px;
    width: auto;
  }
  .header img {
    width: 250px;
  }
  .navigation {
    gap: 40px;
    width: 255px;
  }
  .navigation p {
    font-size: 26px;
  }
}
