.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 57px;
}
li {
  list-style: none;
  color: #ff6060;
  font-size: 24px;
}
