.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.navLink-about,
.navLink-home {
  text-decoration: underline;
  text-decoration-color: #ff6060;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 57px;
  margin: 0;
}
.navigation p {
  list-style: none;
  color: #ff6060;
  font-size: 24px;
}

@media (width <= 912px) {
  .header img {
    width: 150px;
  }
}
@media (width <= 527px) {
  .header img {
    width: 100px;
  }
  .navigation {
    gap: 30px;
  }
  .navigation p {
    font-size: 20px;
  }
}

@media (width <= 393px) {
  .header {
    height: 80px;
    align-items: center;
    padding: 20px;
    width: auto;
  }
  .header img {
    width: 120px;
    height: 50px;
  }
  .navigation {
    gap: 25px;
    width: 255px;
    padding-left: 90px;
  }
  .navigation p {
    font-size: 16px;
  }
}
