.lightbox-container {
  position: relative;
  height: 515px;
  background: linear-gradient(180deg, #ff6060 0%, #00000080 100%);
  border-radius: 10px;
  margin: 20px 50px;
}
.lightbox .icon {
  position: absolute;
  color: white;
  font-size: 60px;
  padding: 10px;
  cursor: pointer;
}
.lightbox .icon.left {
  left: 15px;
  top: 40%;
}
.lightbox .icon.right {
  right: 15px;
  top: 40%;
}
.lightbox-image img {
  object-fit: cover;
  width: 100%;
  height: 515px;
  border-radius: 10px;
}
.lightbox-image-number {
  color: white;
  font-weight: 500;
  position: absolute;
  font-size: 24px;
  padding: 2px 5px;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
}

@media (width <= 1000px) {
  .lightbox-container {
    margin: 20px;
  }
}

@media (width <= 527) {
  .lightbox .icon {
    font-size: 30px;
  }
}

@media (width <= 500px) {
  .lightbox-container {
    width: auto;
    margin: 20px;
  }

  .lightbox-image-number {
    left: 45%;
  }
  .lightbox .icon {
    height: 30px;
  }
}
